*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
ul{
    padding: 0;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
}
.nav{
  padding: 20px;
justify-content: space-between;
}
.logo img{
    width: 200px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    font-size: 30px;
    font-weight: 500;
  

}
.nav a{
    padding: 10px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    border-radius: 15px;


}
.content{
    padding: 20px;
    line-height: 40px;
}
.s-one{
    margin-bottom: 5px;
}
.p-one{
    margin-bottom: 5px;
}
.border-a{
    padding: 10px;
    border: 2px solid black;
    color: white;
    background-color: black;
    border-radius: 15px;
    margin-top: 10px;
}
.service{
    padding: 20px;
}

/* section-service start */


.service-sec{
  margin: 20px;
  padding: 10px;
}

.heading-s{
  background-color: #B9FF66;
 
  text-align: center;
}

/* section-service end */






/* section-two start */
.engin{
    font-size: 20px;
    background-color: #B9FF66;
}
.heading-engin{
  background-color: #B9FF66;
}
.learn{
  font-size: 20px;
  margin-left: 5px;
}

.per-click{
  background-color: whitesmoke;
}
.bg-color{
  background-color:#B9FF66;
  border-radius: 15px;
 
}
.border-dark{
  border: 1px solid black;
}
.round-pill{
  border-radius: 15px;
}
/* section-two end */

/* section-three start */

.three{
  margin: 20px;
  padding: 15px;
}
.procces{
  background-color: #B9FF66;
  padding: 2px;
}

/* section-three end */

